* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}



:root {
    --color-principal: #A50909;
    --color-texto-secundario: #111111;
    --color-texto-principal: #FFFFFF;
    --color-acento: #D4AF37;
    --color-extra: #E6A0A2;
}


body {
    max-width: 100vw;
    margin: 0 auto;
}


/* Navbar */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 20px;
}


#logo p {
    font-family: "Montserrat", sans-serif;
    color: var(--color-principal);
    font-size: 30px;
}

.div-icono-buscador i {
    color: var(--color-principal);
    transition: transform 0.3s ease;
    font-size: 30px;
}

.div-icono-buscador i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;

}

.nav a {
    color: var(--color-texto-secundario);
    font-size: 20px;

}

.nav a:hover {
    color: var(--color-principal);
}

.nav a:visited {
    color: var(--color-principal);
}


.divider {
    height: 1px;
    opacity: 50%;
    width: 100%;
    background-color: var(--color-texto-principal);
}

/* Footer */


.seccion-footer {
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    background-color: #1E1E1E;
    margin-top: 80px;
    gap: 30px;
    height: max-content;
}


.seccion-footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

.texto_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto_footer strong {
    font-family: "Montserrat", sans-serif;
    color: var(--color-principal);
    font-size: 30px;
}

.parrafo_footer {
    color: var(--color-texto-principal);
    font-size: 1rem;
}

.section_footer_datos {
    display: flex;
    gap: 20px;
}

.section_footer_datos img {
    width: 200px;
}

.datos_footer {
    color: var(--color-texto-principal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.footer-list {
    display: flex;
    gap: 0px 100px;
    justify-content: center;
    padding: 20px 0px;

}

.footer-list a {
    color: var(--color-texto-principal);
}







/* Inicio */

.seccion-principal-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: url(../assets/intros/portada-home.jpg);
    height: 90vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.seccion-principal-inicio h1,
span {
    font-family: "Montserrat", sans-serif;
    font-size: 52px;
    font-weight: bold;
    color: var(--color-texto-principal);
}

.seccion-principal-inicio p {
    color: var(--color-texto-principal);
    font-size: 20px;
    width: 600px;
    text-align: center;
    line-height: 30px;
}

.seccion-principal-inicio span {
    color: var(--color-acento);

}



.contenedor-input-buscador {
    background-color: var(--color-texto-principal);
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    width: max-content;

}

.contenedor-input-buscador input {
    margin-bottom: 5px;
    border: none;
    width: 300px;
    padding: 10px;
    outline: none;
    font-size: 1rem;

}


.contenedor-input-buscador input::placeholder {
    font-size: 1rem;
}

.contenedor-input-buscador button {
    background-color: var(--color-principal);
    color: var(--color-texto-principal);
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
    font-size: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.contenedor-input-buscador button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* Inicio: Categorias destacadas */

.seccion-categorias-destacadas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 0 auto;
    width: max-content;
}


.texto-principal-detacadas {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;

}

.texto-principal-detacadas p {
    letter-spacing: 5%;
    color: var(--color-principal);
    font-size: 20px;

}

.texto-principal-detacadas h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}


.cards-caterogias-destacadas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 600px;

}

.categorias-izquierda {
    background-image: url(../assets/home/Quever-home.avif);
    height: 600px;
    width: 400px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;
}

.card-texto {
    color: var(--color-texto-principal);
    background-color: rgba(17, 17, 17, 0.6);
    padding: 20px;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 16px 16px;
    width: 100%;
}

.card-texto h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.card-texto p {
    font-size: 1rem;
}

.categorias-derecha {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 600px;
    width: 600px;
    gap: 20px;
}

.categoria-gastronomia {
    background-image: url(../assets/home/gastronomia-home.png);
    height: 290px;
    border-radius: 16px;
    background-size: 180%;
    background-position: start;
    background-repeat: no-repeat;
    position: relative;
}

.categoria-contacto {
    background-image: url(../assets/home/contacto-home.jpg);
    height: 290px;
    border-radius: 16px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


/* Inicio: Proximos eventos */
.seccion-proximos-eventos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0px;
    gap: 20px;
    margin: 0 auto;
    width: max-content;

}

.texto-principal-eventos {
    display: flex;
    justify-content: space-between;
    gap: 530px;
    width: max-content;
}


.texto-izquierda p {
    letter-spacing: 5%;
    color: var(--color-principal);
    font-size: 20px;

}

.texto-izquierda h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

.texto-derecha {
    display: flex;
    align-items: center;
    gap: 10px;

}

.texto-derecha p,
i {
    color: var(--color-principal);
}


.seccion-cards-proximos-eventos {
    display: flex;
    gap: 40px;
}

.card-evento {
    width: 310px;
    height: 380px;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.card-evento img {
    width: 310px;
    height: 200px;
    border-radius: 16px 16px 0px 0px;
}

.card-evento h3 {
    font-weight: normal;
    font-size: 20px;
    padding: 16px 16px 10px 16px;
}

.card-evento p {
    font-size: 1rem;
    padding: 0px 16px;
    font-weight: lighter;
}


/* Inicio: Newsletter */
.seccion-newsletter {
    display: flex;
    align-items: flex-start;
    background-color: var(--color-acento);
    padding: 50px;
    gap: 100px;
    justify-content: flex-start;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 1000px;
}

.seccion-principal-newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.seccion-principal-newsletter h2 {
    font-family: "Montserrat", sans serif;
    color: var(--color-texto-principal);
    font-size: 40px;
}

.seccion-principal-newsletter p {
    color: var(--color-texto-principal);
    font-weight: lighter;
    font-size: 1rem;

}

.seccion-input {
    width: max-content;
    display: flex;
    gap: 20px;
}

.seccion-input input {
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    outline: none;
}

.seccion-input button {
    background-color: var(--color-principal);
    color: var(--color-texto-principal);
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    transition: transform 0.3s ease;

}

.seccion-input button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.newsletter-icono i {
    color: #E9D699;
    font-size: 130px;

}


/* Que ver: Seccion principal */
.seccion-principal-que-ver {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    background-image: url(../assets/intros/portada-quever.jpg);
    height: 90vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.seccion-principal-que-ver h1,
span {
    font-family: "Montserrat", sans-serif;
    font-size: 52px;
    font-weight: bold;
    color: var(--color-texto-principal);

}

.seccion-principal-que-ver span {
    color: var(--color-acento);
}

.seccion-principal-que-ver h1 {
    padding-left: 80px;
}


.seccion-principal-que-ver p {
    color: var(--color-texto-principal);
    font-size: 20px;
    width: 800px;
    text-align: start;
    line-height: 30px;
    padding-left: 80px;
    padding-bottom: 80px;
}


/* Monumentos reales */

.texto-principal h2{
font-size: 2rem;
font-weight: bold;
padding-bottom: 20px;
}

.seccion-monumentos-reales {
    display: flex;
    flex-direction: column;
    padding: 30px;
   margin: 0 200px;
}


.texto-principal-monumentos {
    text-align: start;
    margin-bottom: 30px;
}

.seccion-cards-monumentos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: max-content;
    height: max-content;
    gap: 30px;
}

.card-monumento {
    width: 400px;
    height: 450px;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.03);

}

.card-monumento img {
    width: 400px;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
}


.texto-card {
    padding: 20px 10px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}





.dato-monumento {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dato-monumento i {
    font-size: 32px;
    color: var(--color-acento);
}




/* Que ver: Plazas */

.seccion-plazas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 0 auto;
    width: max-content;
}

.cards-plazas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 600px;
}

.cards-plazas h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.cards-plazas p {
    font-size: 1rem;
}

.categorias-plazas-izquierda {
    background-image: url(../assets/que-ver/plaza-mayor.jpg);
    height: 600px;
    width: 400px;
    background-size: cover;
    object-fit:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;
    

}

.categorias-plazas-derecha {
    height: 600px;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
}


.card-texto-plazas {
    color: var(--color-texto-principal);
    background-color: rgba(17, 17, 17, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position:absolute;
    bottom: 0;
    border-radius: 0 0 16px 16px;
}

.categoria-plazas {
    background-image: url(../assets/que-ver/plaza-puerta-del-sol.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
   border-radius:  16px;
    background-position: center;
    position: relative;

}

.categoria-plazas-informacion {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
   background-size: cover;
background-color: var(--color-acento);
      height: 280px;
      border-radius:  16px;
      display: flex;
      padding-left: 50px;

}

.card-texto-sabias-que h3{
color: var(--color-principal);
font-size: 32px;
font-weight: bold;
}

.card-texto-sabias-que p{
color: var(--color-texto-principal);
font-size: 16px;
width: 300px;
}

.card-texto-sabias-que {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}



/*Museos*/

.seccion-museos{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 100px;
   
}

.seccion-museos h2 {
    padding-bottom: 10px;
    text-align: start;
    font-family: "Montserrat", sans-serif;
}


.container-museos{
display: flex;
justify-content: space-between;
align-items: flex-end;
gap: 20px;
height: 400px;
width: 800px;


}

.container-museos div{
width: 300px;
height: 450px;
display: flex;
flex-direction: column;


}

.container-museos-informacion h3 {
    color: var(--color-principal);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.container-museos-informacion img {
height: 200px;
width: 280px;
padding-bottom: 20px;
border-radius: 16px;
}
.container-museos-informacion p {
    padding-top: 5px;
}



.informacion-extra {
    font-weight:200;
}


